/*** General page set up and colors ***/
* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
}

.clearfix {
	overflow: auto;
}

#main {
	max-width: 1000px;
	margin: 0 auto;
}

h2,
h3,
h4,
h5 {
	padding: 10px 5%;
}

h1 {
	font-size: 40px;
	color: #000;
	line-height: 48px;
	display: inline;
}

h2 {
	font-weight: bold;
	font-size: 26px;
	color: #000;
	line-height: 29px;
	display: inline-block;
	padding-right: 0;
}

h3 {
	font-style: italic;
	font-size: 20px;
	color: #000;
	line-height: 22px;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 17px;
}

p {
	font-size: 1em;
	color: #000;
	line-height: 21px;
}

a {
	color: #1199c3;
	text-decoration: none;
	margin-top: 10px;
	display: block;
}

li {
	display: inline-block;
	padding-bottom: 5px;
}

img {
	padding: 10px;
}

span {
	padding: 5px;
}

/*** Text Color ***/
.blue-text {
	color: #0033cc;
}

.black-text {
	font-weight: bold;
	color: #000;
}

/*** Header Section ***/
#header {
	background-image: url(../images/mlp_sky_background_3_by_musicfirewind-d7fj1el.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	background-color: #66FFFF;
	border-radius: 30px;
}

.center-content {
	padding: 2.5% 5%;
}

.nameSub {
	color: #000;
}

.border-underline {
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
}

.biopic {
	float: left;
	padding: 10px;
	width: 200px;
	border-radius: 30px;
}

.welcome-message {
	font-style: italic;
	font-size: 18px;
	color: #000;
	line-height: 28px;
}

#skillsH3 {
	color: #0033cc;
}

/** Resume Sections ***/
.cutie-mark-icon {
	max-width: 50px;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

#workExperience,
#projects,
#education,
#mapDiv {
	border-radius: 30px;
	padding-bottom: 10px;
}

#workExperience {
	background-color: #CCFF99;
	cursor: pointer;
}

#projects {
	background-color: #ffff99;
	cursor: pointer;
}

#education {
	background-color: #FFCC66;
	cursor: pointer;
}

#mapDiv {
	background-color: #FF8566;
}

#map-title-container {
	cursor: pointer;
}

.education-entry,
.work-entry,
.project-entry {
	padding: 0 5%;
}

.work-title,
.project-title,
.school-title,
.class-title {
	color: #40185b;
	font-size: 18px;
	text-decoration: underline;
	padding-left: 15px;
}

.date-text {
	font-style: italic;
	font-size: 14px;
	color: #555;
	line-height: 16px;
	float: left;
}

.location-text {
	font-style: italic;
	font-size: 14px;
	color: #555;
	line-height: 16px;
	float: right;

}

.work-description li {
	display: block;
}

/*** Map ***/
#map {
	display: block;
	height: 90%;
	margin: 0 5%;
}

#mapDiv {
	height: 100px;
	width: 100%;
	padding-bottom: 5%;
}

/*** Footer ***/
#letsConnect {
	text-align: center;
	background-color: #97e7e8;
	border-radius: 30px;
}

#footerContacts {
	background-color: #ffff99;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

/*** Responsive Design ***/
@media (max-width: 900px) {
	.biopic {
		width: 175px;
	}
}

@media (max-width: 750px) {
	.biopic {
		width: 150px;
	}

	.welcome-message {
		font-size: 1em;
	}
}

@media (max-width: 630px) {
	#name,
	.nameSub {
		display: block;
	}

	.biopic-container {
		text-align: center;
	}

	.biopic {
		float: none;
	}

	#header {
	background-size: auto 100%;
	background-color: #66FFFF;
	border-radius: 30px;
}
}

@media (max-width: 430px) {
	h2 {
		font-size: 1.3em;
	}

	.cutie-mark-icon {
		max-width: 40px;
	}
}